/* universal selector */
*{
    /* color: red; */
    font-size: 20px;
}
/* tag / element selector */
h1{
    color: aqua;
}
/* attibute selector */
a[title="google"]{
    color: blue;
    letter-spacing: 10px;

}
/* id selector */
#idOne{
    color: blueviolet;
    
}

/* class selector */
.ClassOne{
    color: brown;
    line-height: 30px;
    text-indent: 40px;
    text-transform: uppercase;
    word-spacing: 10px;
}

/* desc selector */
.dec a{
    color: rgb(222, 138, 29)ue;
    text-decoration: none;
}
/* child selector */
.child > a{
    color: rgb(222, 138, 29);
}
/* pseudo selector */
/* :link */
a:link{
    color:red;
}
a:hover{
    color:aquamarine;
    letter-spacing: 15px;

}
a:active{
    color:yellowgreen;
}
a:visited{
    color:rgb(227, 220, 234);
}

:target{
    color: red;
    border: 2px solid black;
}